.project-child1 {
  position: absolute;
  height: 15.2%;
  width: 52.78%;
  top: 10.57%;
  right: 5%;
  bottom: 74.23%;
  left: 42.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eparrow-up-bold-icon5,
.iconamoonhome-bold6 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.eparrow-up-bold-icon5 {
  width: 16px;
  height: 16px;
}
.project4 {
  position: relative;
  line-height: 125%;
  text-transform: uppercase;
  display: inline-block;
  width: 216px;
  flex-shrink: 0;
}
.iconamoonhome-bold-parent4 {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xl);
}
.frame-child79 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 501px;
  object-fit: cover;
  cursor: pointer;
}
.vector-icon8 {
  position: relative;
  width: 38.47px;
  height: 9.95px;
}
.vector-container {
  position: absolute;
  top: 229px;
  left: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.van-phong-thermal3 {
  position: relative;
  line-height: 125%;
  text-transform: uppercase;
  font-weight: 500;
}
.a-leading-provider3 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 600px;
}
.van-phong-thermal-power-supply-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.learn-more6 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.vector-icon9 {
  position: relative;
  width: 16px;
  height: 16px;
}
.learn-more-parent2 {
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
}
.frame-parent53 {
  position: absolute;
  top: 501px;
  left: 0;
  width: 1200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.rectangle-parent9 {
  position: relative;
  width: 1200px;
  height: 601px;
  font-size: var(--font-size-21xl);
}
.frame-child80 {
  position: relative;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 1201px;
  height: 1px;
}
.vn-ha-doanh {
  position: relative;
  font-weight: 300;
  color: var(--color-chocolate);
}
.project-list {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 110%;
  text-transform: capitalize;
  font-weight: 500;
}
.list-of-the {
  position: relative;
  font-weight: 300;
}
.vn-ha-doanh-nghip-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child81 {
  position: relative;
  width: 368px;
  height: 207px;
  object-fit: cover;
}
.bridge,
.in-pham-ngoc {
  position: relative;
  display: inline-block;
}
.bridge {
  font-size: var(--font-size-sm);
  line-height: 125%;
  width: 216px;
}
.in-pham-ngoc {
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-darkslategray);
  width: 320px;
}
.date-completed,
.possimus-odit-eum3 {
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.possimus-odit-eum3 {
  color: var(--color-darkslategray);
  width: 320px;
}
.date-completed {
  width: 146px;
}
.bridge-parent,
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent12 {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bridge-parent {
  width: 368px;
  overflow: hidden;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-base);
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-end;
  gap: var(--gap-12xs);
  cursor: pointer;
}
.rectangle-parent11,
.rectangle-parent12 {
  left: 416px;
}
.rectangle-parent12 {
  left: 832px;
}
.frame-parent54 {
  position: relative;
  width: 1200px;
  height: 369.5px;
  color: var(--color-chocolate);
}
.line-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  font-size: var(--paragraph-1-size);
  color: var(--color-darkslategray);
}
.frame-child84 {
  position: relative;
  width: 68px;
  height: 60.29px;
}
.about8 {
  position: absolute;
  top: 4px;
  left: 29px;
  font-weight: 500;
  cursor: pointer;
}
.frame-child85 {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 32px;
}
.about-parent6 {
  position: relative;
  width: 104px;
  height: 32px;
}
.careers10,
.contact8,
.investors8,
.projects14 {
  position: absolute;
  top: 4px;
  left: 30px;
  font-weight: 500;
  cursor: pointer;
}
.careers10,
.contact8,
.investors8 {
  left: 19px;
}
.careers10,
.contact8 {
  left: 6px;
}
.contact8 {
  left: 24px;
}
.frame-child89 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 104px;
  height: 32px;
}
.frame-parent55,
.group-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent55 {
  justify-content: flex-end;
  gap: var(--gap-base);
}
.group-parent7 {
  width: 1200px;
  height: 88px;
  padding: var(--padding-sm) 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.thanh-long-group13 {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 500;
}
.dinh-du-dinh8 {
  position: relative;
  line-height: 125%;
  display: inline-block;
  width: 271px;
}
.contact-84-32137853888 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 125%;
}
.thanh-long-group-jsc-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
}
.press-releases8 {
  position: relative;
  line-height: 125%;
  display: inline-block;
  width: 160px;
  height: 18px;
  flex-shrink: 0;
}
.press-releases-parent6,
.quick-links-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.press-releases-parent6 {
  width: 336px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
}
.quick-links-parent6 {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.enter-email-address8 {
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
}
.enter-email-address-wrapper6 {
  background-color: var(--color-whitesmoke-200);
  width: 393px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.submit8 {
  position: absolute;
  top: 4px;
  left: 26px;
  font-weight: 500;
  cursor: pointer;
}
.submit-parent6 {
  position: relative;
  width: 104px;
  height: 32px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
}
.footer8,
.frame-parent56,
.frame-parent57,
.typcnsocial-linkedin-parent6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent57 {
  align-items: flex-start;
  font-size: var(--font-size-3xs);
  color: var(--gray-3);
}
.footer8,
.frame-parent56,
.typcnsocial-linkedin-parent6 {
  align-items: center;
}
.footer8,
.frame-parent56 {
  width: 1200px;
  align-items: flex-start;
  gap: var(--gap-21xl);
  text-align: left;
}
.footer8 {
  background-color: var(--color-white);
  width: 1344px;
  flex-direction: column;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-base);
  text-align: center;
  color: var(--color-darkslategray);
}
.vector-icon10 {
  position: relative;
  width: 9.95px;
  height: 38.47px;
}
.learn-more-parent3 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: center;
  color: var(--color-white);
}
.frame-parent52 {
  position: absolute;
  top: 0;
  left: 96px;
  width: 1344px;
  height: 1699px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-52xl);
}
.instance-child3 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 64px;
  height: 64px;
}
.i8 {
  position: relative;
  font-weight: 100;
}
.vn-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
}
.ellipse-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 96px;
  height: 900px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--color-black);
}
.project3 {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 1699px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-chocolate);
  font-family: var(--paragraph-1);
}
